/* .hex {
  width: 180px;
  height: 180px;
  background: #d1e9ff;
  clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
} */
